:root {
    --second-family: "Inter", sans-serif;
    --font3: "HeadlandOne", sans-serif;
    --font7: "Hammersmith One", sans-serif;
}

.header {
    background: linear-gradient(#2B4A6187, #2B4A6187), url(./../img/background.jpg) no-repeat center/cover;
    border-bottom: 3px solid #fff;
    padding-top: 39px;
    padding-bottom: 39px;
}

.logotype {
    width: 186px;
    justify-content: center;

}

.switcher {
    margin-left: 10px;
    margin-right: 10px;
}

.navigation {
    display: flex;
}

.navigation-list {
    display: flex;
    align-items: center;
}

.navigation-item {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 20px;
    margin: 0 38px;
}

.button {
    width: 141px;
    height: 42px;
    background-color: #0B0E66;
    border: 2px solid #26C7EA;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    color: #26C7EA;
    font-family: var(--font3);
    font-size: 20px;
}

.header-button {
    display: flex;
    align-items: center;
}

.navigation-language {
    display: flex;
    font-family: var(--font7);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin-left: 49px;
}

.header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.main {
    background: url(./../img/main.jpg) no-repeat center/cover;
    padding-top: 180px;
    padding-bottom: 180px;
}

.img {
    width: 50px;
    height: 30px;
}


.video {
    background: url(./../img/video.jpg) no-repeat center/cover;
    height: 741px;
}



.container-blok {
    display: flex;
}

.footer-item {
    display: flex;
}

footer {
    background: linear-gradient(#2b4a61be, #2b4a61be), url(./../img/background.jpg) no-repeat center/cover;
}

.text-main {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

.text-main-two {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    /* padding-left: 204px; */
}


.main-img {
    width: 152px;
    height: 40px;
    padding-left: 53px;
}

.button-main {
    width: 260px;
    height: 80px;
    background-color: #0B0E66;
    border: 2px solid #26C7EA;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    color: #26C7EA;
    font-family: var(--font3);
    font-size: 24px;
}

.botom-main-item {
    /* padding-left: 204px; */
    padding-top: 42px;
}

.img {
    padding-bottom: 34px;
}

.quote-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    color: #0a3853;
    justify-content: center;
    display: flex;
    text-align: center;
    padding-top: 75px;
}

.quote-language {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    color: #000;
    justify-content: center;
    display: flex;
    padding-top: 16px;
}

.quote-img {
    width: 400px;
    padding-left: 320px;
    padding-top: 8px;
    padding-bottom: 10px;
}

.button-video {
    width: 260px;
    height: 80px;
    background-color: #0B0E66;
    border: 2px solid #26C7EA;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    color: #26C7EA;
    font-family: var(--font3);
    font-size: 24px;
}

.button-video-item {
    padding-top: 330px;
    padding-left: 387px;
}

.item {
    font-family: var(--font3);
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #141414;
    padding-top: 58px;
    padding-bottom: 45px;
}

.navi-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 57px;
    gap: 36px;
    margin: 0 auto;
}

.navi {
    background: url(./../img/sky.jpg) no-repeat center/cover;
}

.blok {
    width: 320px;
    height: 240px;
    background-color: #ffffff70;
}

.text-blok {
    font-family: var(--font3f);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #000;
}

.text-blok-text {
    font-family: var(--font3f);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #141414;
    padding-top: 36px;
}

.arrow {
    width: 152px;
    height: 40px;
    margin: 40px auto;

}

.footer-text {
    padding-top: 27px;
    display: flex;
    justify-content: center;
    padding-right: 25px;
    border-left: 3px solid #fff;
    padding-left: 80px;
}

.footer-text-two {
    padding-top: 16px;
    padding-bottom: 27px;
    display: flex;
    justify-content: center;
    border-left: 3px solid #fff;
    padding-left: 80px;
}

.footer-img {
    padding-top: 10px;
    width: 269px;
    height: 2px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-img-two {
    padding-top: 10px;
    width: 194px;
    height: 2px;
    padding-left: 20px;
    padding-right: 20px;
}

.email {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.footer-logotype {
    width: 183px;
    padding-top: 55px;
}

.text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #fff;
    padding-top: 37px;
    padding-bottom: 25px;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
}

.main-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-team {
    padding-top: 35px;
}

.team {
    padding-bottom: 42px;
}